
.awesome-content {
    color: var(--mdc-circular-progress-active-indicator-color);
}

.companyName {
    font-size: 150%;
}

.mat-toolbar {
    height: 7vh;
}

div {
    overflow: inherit;
}

.mat-sidenav-container {
    background-color: lightskyblue;
    min-height: 93vh !important;
}

a {
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

button {
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-sidenav-content {
    font-size: 200%;
    text-align: center;
}

/* CSS for Angular Flex Layout */
.fxShow,
.fxShowInline,
.fxShowInlineBlock,
.fxShowFlex,
.fxShowGrid {
    display: none !important;
}

.fxHide,
.fxHideInline,
.fxHideInlineBlock,
.fxHideFlex,
.fxHideGrid {
    display: block !important;
}

.fxHideGtSm {
    display: none !important;
}

.fxHideLtMd {
    display: block !important;
}

/* Custom CSS */
.companyName {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}





